{% extends "app/layout.html" %}

{% block content %}

<!--<h2>Авторизация</h2>-->
<div class="card" style="width: 50rem">
    <div class="card-header">
        <h2>Авторизация</h2>
        <h4>Используйте локальный аккаунт, чтобы авторизоваться.</h4>
    </div>
    <div class="row">
        <div class="col-md-12">
            <section id="loginForm">
                <form action="." method="post" class="form-horizontal">
                    {% csrf_token %}
                    <!--<h4>Используйте локальный аккаунт, чтобы авторизоваться.</h4>-->
                    <!--<hr />-->
                    <div class="form-group">
                        <label for="id_username" class="col-md-3 control-label">Имя пользователя</label>
                        <div class="col-md-10">
                            {{ form.username }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="id_password" class="col-md-2 control-label">Пароль</label>
                        <div class="col-md-10">
                            {{ form.password }}
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="hidden" name="next" value="/" />
                            <input type="submit" value="Вход" class="btn btn-primary" />
                            <a class="btn btn-primary" href="{% url 'create_user' %}" role="button">Создать аккаунт</a>
                        </div>
                    </div>
                    {% if form.errors %}
                    <p class="validation-summary-errors">Неверный пароль или логин.</p>
                    {% endif %}
                </form>
            </section>
        </div>
        <div class="col-md-4">
            <section id="socialLoginForm"></section>
        </div>
    </div>
</div>
<div>
    <div class="wave"></div>
    <div class="wave"></div>
    <div class="wave"></div>
</div>

{% endblock %}


{% block scripts %}

    {% load static %}
<script src="{% static 'app/scripts/jquery.validate.min.js' %}"></script>

{% endblock %}
